
/* Overrides */

* {
    box-sizing: border-box;
    line-height: 1em;
}

html {
    font-size: 2vh;
    background-image: url("images/stones_hero.jpg");
    background-size: 100vw auto;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

/* Navigation */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: snow;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
nav a {
    margin: 0rem 1rem;
    height: 3rem;
    padding: 0.9rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-family: Helvetica;
}

/* Header/Hero */

header {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: height 0.75s ease;
    height: 0%;
}
header.home {
    height: 50%;
}

.titlebox {
    position: absolute;
    left: 15%;
    top: calc( 50% - 1.75em );
    height: 3.5em;
    padding: 0.5em;
    border: 4px solid rgb(30, 30, 30);
    text-align: center;
    font-size: 3rem;
    color: rgb(30, 30, 30);
    background-color: snow;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.titlebox hr {
    margin: 0.25em 0.5em;
    border: 2px solid rgb(30, 30, 30);
}

/* Main/Content */

main {
    position: relative;
    width: 100%;
    background-color: snow;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    z-index: -1;
    transition: all 0.75s ease;
    overflow: hidden;
    height: calc( 100% - 3em );
}
main.home {
    height: calc( 50% - 3em );
}

/* Section positions and transitions */

.homeInfo, .sessionsInfo, .bookingsInfo {
    position: absolute;
    width: 100%;
    padding: 1rem;
    transition: opacity 0.25s ease;
    opacity: 0;
}
.home .homeInfo, .sessions .sessionsInfo, .bookings .bookingsInfo {
    opacity: 1;
}

/* Home */

.homeInfo {
    display: flex;
    justify-content: space-around;
    height: calc( 50vh - 3rem );
}
.homeInfo .card {
    width: 31%;
    height: 100%;
}

/* Sessions */

.sessionsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc( 100vh - 3rem );
}
.sessionsInfo .card {
    width: 100%;
    height: 48%;
}

/* Bookings */

.bookingsInfo {
    height: calc( 100vh - 3rem );
}
.bookingsInfo .card {
    width: 100%;
    height: 100%;
}

/* Cards */

.card {
    padding: 1rem;
    text-align: center;
    border: 1px solid grey;
    background-color: white;
}
.card h1 {
    margin: 0rem;
    width: 100%;
    height: 1.8rem;
    font-size: 1.8rem;
    font-weight: normal;
    color: rgb(37, 37, 37);
    font-family: Helvetica;
}
.card p {
    margin: 1rem 0rem;
    width: 100%;
    height: calc(100% - 2rem);
    font-size: 1.2rem;
    color: rgb(77, 77, 77);
    font-family: "Times New Roman";
}
